<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>change_en</key>
<string>Đổi sang tiếng Anh</string>
<key>change_vi</key>
<string>Đổi sang tiếng Việt</string>
<key>hello</key>
<string>Xin chào</string>
<key>lang</key>
<string>Việt Nam</string>
</dict>
</plist>
